<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="demsg" type="Common.ConfigSectionData, Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <demsg perNum="30" title="后500" qqnum="837194030" curPassageKind="单字"
        isSingleWords="true" />
</configuration>